.hello__post {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.grey {
  color: var(--color-grey);
}

.hello {
  color: var(--color-green);
  font-weight: 500;
}
