.chat-card {
  background: var(--color-light);
  padding: 25px;
  border-radius: 12px;
}
.mb--20 {
  margin-bottom: 20px;
}
.chat-card h4 {
  margin-bottom: 15px;
}
.online-chats-users {
  display: flex;
}
.chats-users {
  display: flex;
  flex-direction: column;
}
.user-online {
  margin-right: 10px;
}
.user-chats {
  margin-right: 10px;
}
.on-dot {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-color: var(--color-green);
  border: 3px solid var(--color-light);
  width: 12px;
  height: 12px;
  position: absolute;
  left: 27px;
  top: 30px;
}
.off-dot {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-color: var(--color-grey);
  border: 3px solid var(--color-light);
  width: 12px;
  height: 12px;
  position: absolute;
  left: 27px;
  top: 30px;
}
.chats {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
}
.chats:hover {
  background: #0e131a;
}
.chat-message {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(255 255 255 / 58%);
  font-size: 13px;
}
.username-chat {
  font-weight: bold;
  font-size: medium;
}
.text-chat {
  display: flex;
}
.on-dot-chat {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-color: var(--color-green);
  border: 3px solid var(--color-light);
  width: 12px;
  height: 12px;
  margin-left: -13px;
  margin-top: 28px;
}
.off-dot-chat {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-color: var(--color-grey);
  border: 3px solid var(--color-light);
  width: 12px;
  height: 12px;
  margin-left: -13px;
  margin-top: 28px;
}
.bolder {
  font-weight: bold;
  margin-left: 5px;
}
