.suggestions {
  display: flex;
  flex-direction: column;
  background: #232633;
  width: 292px;
  transform: translateX(-18px);
  margin-top: 17px;
  border-radius: 8px;
}
.sugg__search {
  width: 292px;
  padding: 5px 10px 0px 10px;
  border-radius: 0px 0px 8px 8px;
}
.searchBar__input {
  color: #fff;
  background: transparent !important;
  border: none;
  margin-left: 18px;
}
.searchBar__input::placeholder {
  color: #81869b;
  font-size: 13px !important;
  font-weight: 600 !important;
}
.sugg__body {
  padding-bottom: 10px;
  border-radius: 8px;
}
.sugg__flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.sugg__flex:hover {
  background: #313544;
  border-radius: 8px;
}
.sugg__flex > img {
  border-radius: 50%;
  margin-right: 10px;
}
.sugg__playername {
  color: #fff;
  font-weight: 700;
}
