.suggestions {
  display: flex;
  flex-direction: column;
  /*
  background: #1b1e29;
  width: 292px;
  transform: translateX(-11px);
  margin-top: -10px;
  padding: 35px 15px 25px 15px;
  border-radius: 0px 0px 8px 8px;*/
}
.sugg__search {
  background: #1b1e29;
  width: 292px;
  transform: translateX(-11px);
  margin-top: -10px;
  padding: 15px;
  border-radius: 0px 0px 8px 8px;
}
.searchBar__input {
  color: #fff;
  background: transparent !important;
  border: none;
  margin-left: 18px;
}
.searchBar__input::placeholder {
  color: #81869b;
}
