.container {
  max-width: 1050px;
}
.mtb20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.page_titlemulti {
  justify-content: space-between;
}
.valign {
  display: flex;
  align-items: center;
}
.mb0 {
  margin-bottom: 0 !important;
}
.page_title {
  margin: 0 0 15px;
  font-family: "Gilroy", Roboto, sans-serif;
  font-size: 33px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
.page_title > svg {
  width: 34px;
  height: 34px;
  color: brown;
  margin: -6px 0 0;
}
.post_filters {
  margin-bottom: 15px;
}
.post_filters_nav {
  margin: 0 0 0 -4px;
  overflow-x: auto;
  padding: 0 0 3px;
  white-space: nowrap;
  line-height: 1;
}
.post_filters_nav.not_filter > .filterby.active {
  background-color: #607d8b;
  color: #fff;
}
.post_filters_nav > .filterby.active {
  background-color: var(--main-btn);
  color: var(--main-color);
}
.post_filters_nav > .filterby {
  margin: 0 4px;
  padding: 0 10px;
  background-color: white;
  flex: 0 0 auto;
  display: block;
  border-radius: 10px;
  line-height: 32px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  color: var(--body-color);
}
.pointer {
  cursor: pointer;
}
.btn-mat {
  position: relative;
  user-select: none;
  border: none;
  text-decoration: none;
  text-align: center;
  min-width: 64px;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}
.post_filters_nav > .filterby:not(.active) {
  background-color: var(--color-dark);
  color: var(--body-color-dark);
}
.btn-mat svg {
  width: 18px;
  height: 18px;
  margin: -2px 4px 0 0;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mb20 {
  margin-bottom: 20px !important;
}
.content {
  background-color: #212121;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  border-radius: 12px;
  padding: 15px 15px 1px;
}
.p-2 {
  padding: 0.5rem !important;
}
.h-100 {
  width: 122%;
  height: 100% !important;
}
.side_events .ui-box .img,
.events_list .img {
  padding-top: 43.7%;
}
.side_events .ui-box .img,
.events_list .img,
.main_group_list .content .img {
  width: 100%;
  padding: 0;
  position: relative;
  transform: none;
  top: auto;
  left: auto;
  border-radius: 10px 10px 0 0;
}
.side_events .ui-box .img img,
.events_list .img img,
.main_group_list .content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.events_list_mid {
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(320deg, rgb(0 0 0 / 45%), transparent);
  border-radius: 0 0 12px 12px;
}
.w-100 {
  width: 100% !important;
}
.position-absolute {
  position: absolute !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.events_list_mid .profle-date-wrapper {
  min-width: 55px;
}
.profle-date-wrapper {
  background-color: white;
  min-width: 70px;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  display: inline-block;
  left: 15px;
  bottom: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  font-family: "Gilroy", Roboto, sans-serif;
}
.position-relative {
  position: relative !important;
}
.events_list_mid .profle-date-wrapper span {
  font-size: 14px;
}
.profle-date-wrapper span {
  display: block;
  background: #e91e63;
  font-weight: 600;
  color: #fff;
  border-radius: 7.9px 7.9px 0 0;
  text-transform: uppercase;
  padding: 2px;
}
.events_list_mid .profle-date-wrapper b {
  font-size: 30px;
  padding: 7px 0 0;
}
.profle-date-wrapper b {
  font-weight: bold;
  color: #222;
  display: block;
  line-height: 1;
}
.events_list_btns {
  margin: 10px;
}
.btn-light {
  color: #e5e5e5;
  background-color: var(--color-light);
}
.mr5 {
  margin-right: 5px !important;
}
.fa,
.fas {
  font-weight: 900;
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-star:before {
  content: "\f005";
  font-size: 14px;
}
.mt10 {
  margin-top: 10px !important;
}
.events_list_info h2 {
  font-size: 20px;
  margin: 0 0 1px;
}

.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.events_list_info h2 a {
  color: var(--body-color-dark);
}
.events_list_info p {
  font-size: 15px;
  color: var(--gray);
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
