.ladder_row {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 25px;
  font-family: "Roboto";
}
.hero-img {
  position: absolute;
  right: 50px;
  top: -5px;
  height: 426px;
  z-index: 1;
  pointer-events: none;
}
.events {
  max-width: 965px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
